body{
  background-color: /*#F9F7F7*/#FAFAFA;
}
hr{
  /*background-color: white;*/
  border-style: dotted none none none;
  width: 8%;
  border-width: 7px;
  border-color: /*#DBE2EF*/#005691;
}
 h1, h3{
  color: /*#112D4E*/#004A7C;
  font-family: sans-serif;
}
p, td, li, label{
  color:/*#3F72AF*/#005691;
  font-family: sans-serif;
}
a{
  font-family: sans-serif;
  font-size: 15px;
}
